<div class="mb-3">
    <button type="button"
            data-bs-toggle="modal"
            data-bs-target="#modalId"
            class="btn btn-warning">
        登入
    </button>
</div>
<div class="modal fade scrollbar"
     id="modalId"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     role="dialog"
     aria-labelledby="modalTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
         role="document">
        <div class="modal-content col-md-4">
            <div class="modal-header" style="background-color: #f7d179;">
                <h5 class="modal-title text-center" id="modalTitleId" style="width:95% ;">
                    來到小鴨，馬上上工
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        style="width:5% ;">
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h2 class="text-center">會員登入</h2>
                        <section>
                            <form id="account" method="post">
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="text-center pb-3">
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                                        <label class="btn btn-outline-warning" for="btnradio1">求職者</label>

                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                                        <label class="btn btn-outline-warning" for="btnradio2">徵才者</label>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.GUINumber" name="Input.GUINumber" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="GUINumber" aria-required="true" placeholder="統一編號" />
                                    <label id="Input.GUINumber" name="Input.GUINumber" class="form-label">統一編號</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.GUINumber" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.Password" name="Input.Password" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label id="Input.Password" name="Input.Password" class="form-label">密碼</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.GUINumber" data-valmsg-replace="true"></span>
                                </div>
                                @* <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label ">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                                </div> *@
                                <div class="text-center">

                                    <button id="login-submit" type="submit"
                                            class="w-50 btn btn-md btn-warning rounded-pill py-2">
                                        登入
                                    </button><br />
                                    <a id="forgot-password" asp-page="./ForgotPassword">忘記密碼</a>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">註冊會員</a>
                                </div>
                                <div>
                                    @* <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email
                                    confirmation</a>
                                    </p> *@
                                </div>
                            </form>
                        </section>
                    </div>
                    @* <div class="col-md-6 col-md-offset-2">
                    <section>
                    <h3>Use another service to log in.</h3>
                    <hr />
                    @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                    <div>
                    <p>
                    There are no external authentication services configured. See this <a
                    href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                    about setting up this ASP.NET application to support logging in via external services</a>.
                    </p>
                    </div>
                    }
                    else
                    {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl"
                    method="post" class="form-horizontal">
                    <div>
                    <p>
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                    title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                    </p>
                    </div>
                    </form>
                    }
                    }
                    </section>
                    </div> *@
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
